
.jumbotron-hero {
  /* Choisis la hauteur ici */
  height: 500px;

  /* Tu lui donnes une image de background */
  background-image: url("surf.jpg");

  /* Centre l'image et la met bien sur tous les écrans */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.display-4{
	color: white;
	font-family: "Helvetica Neue", sans-serif;
}

.lead {
	color: white;
}

h1
{
	font-family: "Helvetica Neue"
}

p
{
  text-align: justify;
}

.my-row
{vertical-align: middle;}